.gosling-container {
  position: fixed;
  top: 40%;
  left: -600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  transition: left 0.9s ease-in-out;
}

img {
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.one-text,
.two-text,
.three-text {
  padding: 10px;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  min-width: 100%;
}

.gosling-container.visible {
  transition: left 0.9s ease-in-out;
  left: 20px;
}
